body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.login{
  text-align: center;
  /* display: block; */
  justify-content: center;
  align-items: center;
  margin: auto;
}

.login #logo {
  width: 50%;
}

#login-button > div {
  margin: 0 auto;
}

.tabs-style {
    margin-top: 50px;
    width: 30%;
    margin-left: 30px;
}

.profile-container {
  margin: 30px;
  display: flex;
}
.face {
  width: 22%;
}

.face img{
  border: solid #CCC;
  border-radius: 4px;
  float: left;
  max-width: 80%;
  width: auto;
  height: auto;
}

.profile-text {
  padding: 10px 0px 0px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.headline {
  margin: 0;
}
.quote {
  margin: 0;
}
